<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>- PARTNERS -</title>
		<link rel="stylesheet" th:href="@{main.css}" />
	</head>
	
	<body>
		
		<section th:replace="~{header :: header}"></section>
					
		<h1>
			BOOKING APP HOME PAGE
		</h1>
		
		<article>
			<header>
				<h1 th:text="#{${key}(${user})}">Greetings</h1>
			</header>
			
			
			<footer>
				
			</footer>
			
		</article>
	
		<footer th:replace="~{header :: #footer}"></footer>
		
	</body>
</html>